<div class="px-5 lg:px-10 section-y-padding max-w-screen-lg mx-auto">
  <h1 class="mb-4 font-heading {{ settings.template_heading_size }} {% if settings.center_page_titles %}text-center{% endif %}">{{ page.title }}</h1>
  <div class="rte text-rte">
    {{ page.content }}
  </div>
</div>